#mainDiv{
    border: 1px solid black;
    width: 700px;
    height: 700px;
    background-color: blue;
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.subDiv{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    background-color: blueviolet;
   
}