#big{
 border: 1px solid black;
    width: 700px;
    height: 700px;
    background-color: blue;
}
#mainDiv{
   
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    display: grid;
    grid-template-columns: 200px 300px 110px ;
    justify-content: center;
    align-items: end;
    justify-items: center;

}
.subDiv{
    border: 1px solid black;
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    display: flex;
    align-items: center;
    justify-content: center ;
   
}